
body {
    font-family: Arial, sans-serif;
    background-color: #b0bec5;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: #2d3e50 !important;
    padding: 10px 15px;
}

.navbar-brand {
    font-size: 22px;
    font-weight: bold;
    color: white !important;
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: white !important;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}


.grades-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}


.students-list {
    background: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    color:black;    
}

.students-box {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
}

.student-name {
    margin: 5px 0;
    padding: 8px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: bold;
}

.student-name:hover {
    background: #e0e0e0;
}


.grades-section {
    background: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    color:black;
}

.subjects-box {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    color :black;
}

.subject-name {
    margin: 5px 0;
    padding: 8px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: bold;
}

.subject-name:hover {
    background: #e0e0e0;
}


.edit-grades-btn {
    background: #546e7a;
    color: white;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.edit-grades-btn:hover {
    background: #37474f;
}


.grades-box {
    max-height: 300px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    color: black;
}

.grade {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
}

.grade:hover {
    background: #e0e0e0;
}


@media (max-width: 768px) {
    .grades-container {
        flex-direction: column;
    }

    .students-list,
    .grades-section {
        width: 100%;
        margin-bottom: 15px;
    }

    .grades-box,
    .students-box,
    .subjects-box {
        max-height: 200px;
    }
}
